<!-- jQplot CSS -->
<link rel="stylesheet" media="screen" href="lib/jqplot/jquery.jqplot.min.css" />
<!-- jQplot CSS END -->

                <h1 class="page-title">Amistar Top</h1>
                <div class="container_12 clearfix leading">
                 
                <div class="clear"></div> 
                
                    <section class="tabs grid_12 leading">
                       
                        <section>
                            <section class="clearfix">
                                	<header class="grid_12 alpha omega">
								
                                    <h2>Syngenta Label Portfolio</h2> 
									<p>A broad spectrum suspension concen-trate fungicide with systemic, trans la-minar and contact properties for the preventive control of different leaf diseases in crops as listed</p> 
									<a href="prods/amitop/index.html"><button> Click to Access <strong>Amistar Top</strong> Technical Information</button></a> 
									<br>
									<img src="img/amitop.jpg" width="236" height="236" />
<hr>
									</header>
                                <div class="grid_4 alpha">
								
                                    <strong>MENU  | </strong> Use the MENU Button to Navigate your way around. Use the BACK button to return to the MENU.
									
                                </div>
                                <div class="grid_4">
                                    There is a short description of each App in the suite in each of the TABS above. Everything else should be selected from the MENU Bar.
                                </div>
                                <div class="grid_4 omega">
                                    
									<img src="images/logo.png" width="105" height="39" alt="logo" longdesc="../images/logo.png" /><p>Copyright Syntagm Research &copy; 2013.</p> </div>
                            </section>
                                              
                    <div class="clear"></div>
                    
                   
                    </section>
                </div>

    <!-- jQplot SETUP -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/jqplot/excanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="lib/jqplot/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="lib/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="lib/jqplot/plugins/jqplot.barRenderer.min.js"></script>
   <!--  <script type="text/javascript">
    $(document).ready(function(){
        var line1 = [1,4, 9, 16];
        var line2 = [25, 12.5, 6.25, 3.125];
        var line3 = [2, 7, 15, 30];
        var plot2 = $.jqplot('chart2', [line1, line2, line3], {
            show: true,
            legend:{show:true, location:'ne', xoffset:0},
            seriesDefaults:{
                renderer:$.jqplot.BarRenderer, 
                rendererOptions:{barPadding: 8, barMargin: 10, shadowDepth: 2}
            },
            series:[
                {label:'Profits'}, 
                {label:'Expenses'}, 
                {label:'Sales'}
            ],
            axes:{
                xaxis:{
                    renderer:$.jqplot.CategoryAxisRenderer, 
                    ticks:['1st Qtr', '2nd Qtr', '3rd Qtr', '4th Qtr']
                }, 
                yaxis:{min:0}
            }
        });
    });
    </script> -->
    <!-- jQplot SETUP END -->